/* Global */

html {
    scroll-behavior: smooth;
}

body, p, h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #808080;
}

h1 {
    text-align: left !important;
    margin-bottom: 40px;
    font-size: 50px !important;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px !important;
}

/* Common */

.button {
    background-color: #00d3b5;
    border-radius: 50px !important;
    border-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    box-shadow: -5px 10px 18px 1px rgba(0,0,0,0.1);
    margin: 20px 0;
}

.section_container-gray {
    background-color: #f6f6f6;
    padding: 40px 0 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_container-white {
    background-color: white;
    padding: 40px 0 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Navbar */

.navbar_container {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.navbar_list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar_listLink {
    text-decoration: none;
    color: black;
}

.navbar_listLink:hover {
    color: #00d3b5;
}

.navbar_listLink-contact {
    text-decoration: none;
    color: #00d3b5;
}

.navbar_listLink-contact:hover {
    text-decoration: underline;
    color: #00d3b5;
}

.navbar_gradient {
    height: 10px;
    background: linear-gradient(whitesmoke, white);
}

.navbar_container-mobile {
    overflow: hidden;
    position: relative;
  }
  
.navbar_container-mobile #myLinks {
display: none;
}

.navbar_container-mobile a {
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 25px;
display: block;
}

.navbar_container-mobile a span {
    color: #00d3b5;
}

.navbar_container-mobile a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar_container-mobile a.navbar_title:hover,
.navbar_container-mobile a.icon:hover {
    background-color: white;
    color: black;
}

.navbar_container-mobile a:hover {
background-color: whitesmoke;
color: #00d3b5;
}

/* Home */

.home_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#home .section_container-white {
    padding-top: 0;
}

.home_title {
    font-size: 25px;
    color: black;
}

.home_title span {
    color: #00d3b5;
}

.home_imageContainer {
    width: 45%;
    overflow: hidden;
}

.home_textContainer {
    width: 30%;
    align-self: center;
}

.home_textContainer p,
.about_textContainer p {
    line-height: 1.7em;
}

/* Features */

.feature_card,
.quote_card {
    width: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: -5px 10px 18px 1px rgba(0,0,0,0.1);
    margin: 10px;
}

.feature_card a {
    text-decoration: none;
    color: #00d3b5;
    margin-top: 15px;
}

.feature_card p {
    margin: 15px 0;
}

.icon_container {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #00d3b5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #00d3b5;
    box-shadow: -5px 10px 18px 1px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.icon_container i  {
    color: white
}

.cards_container {
    width: 70%;
    flex-flow: wrap;
    display: flex;
    justify-content: center;
}

/* Prototypes */

.prototype_container {
    display: flex;
    justify-content: space-around;
}

.prototype_container img {
    width: 35%;
    height: auto;
    border-radius: 8px;
}

.quote_card {
    width: 300px;
}

.quote_card p {
    font-style: italic;
}

.list_container {
    margin: 20px 0;
}

.list_container span {
    color: #00d3b5;
}

.list_container h2 {
    text-align: left !important;
}

.quote_cardProfile {
    display: flex;
}

.quote_cardProfile img {
    width: 50px;
    border-radius: 25px;
    margin: 0 20px 20px 0;
}

.quote_cardProfile p {
    color: black;
}

/* Testimonials */

.testimonials_carousel {
    padding: 40px 0 80px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    width: 100%;
}

.testimony_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 50px;
}

.testimony_container img {
    width: 80px;
    border-radius: 40px;
    box-shadow: -5px 10px 18px 1px rgba(0,0,0,0.1);
}

.testimony_text {
    width: 45%;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    line-height: 1.8em;
    margin: 20px 0 10px 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00d3b5 !important;
}

.testimony_name {
    font-size: 15px;
    color: black;
}

/* About */

.about_container img {
    width: 35%;
    height: auto;
    border-radius: 8px;
}

.about_container {
    display: flex;
    justify-content: space-around;
}

.about_textContainer {
    width: 25%;
    align-self: center;
}

.about_textContainer h3 {
    font-size: 25px;
    font-weight: unset;
    margin-bottom: 20px;
}

/* Form */

.form_container {
    background-color: white;
    padding: 30px;
}

.form_container h4 {
    font-size: 20px;
}

.form_fieldContainer {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.form_fieldContainer input,
.form_fieldContainer textarea {
    border-radius: 0;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    margin-top: 10px;
}

.form_fieldContainer input {
    height: 2em;
}

.form_fieldContainer textarea {
    padding: 1em;
}

.form_nameContainer {
    display: flex;
    justify-content: space-between;
}

.form_nameContainer .form_fieldContainer {
    width: 45%;
    margin-bottom: 0;
}

/* Footer */

footer p {
    margin: 60px 0;
}

footer {
    text-align: center;
}

/* Media Queries */

@media (max-width: 1023px) {
    .navbar_container,
    .navbar_gradient,
    .home_title {
        display: none;
    }
    
    .home_container {
        flex-direction: column-reverse;
    }

    .home_imageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .home_imageContainer img {
        width: 90%;
    }

    .home_textContainer, 
    .about_textContainer,
    .testimony_text {
        width: 90%;
    }

    .home_textContainer h1{
        margin-bottom: 20px;
        font-size: 30px !important;    
    }

    .prototype_container,
    .about_container {
        flex-direction: column; 
        align-items: center;
    }

    .prototype_container .about_textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prototype_container>img:first-of-type {
        width: 70%;
    }

    .about_container img {
        width: 70%;
        margin-bottom: 20px;
    }

    .cards_container {
        width: 100%;
    }

    .feature_card {
        width: 75%;
    }

    .quote_card {
        width: 235px;
    }

    .form_container {
        width: 75%;
    }
}

@media (min-width: 1024px) {
    .navbar_container-mobile {
        display: none;
      }
}
